* {
  font-family: Arial, Helvetica, sans-serif;
}

.minhaLindaClasse {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#meuId {
  font-family: "Times New Roman", Times, serif;
}
